body{
  margin: 0;
  background: #223843;
}
.cats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cat {
  background: #eff1f3;
  padding: 5px 20px 10px 20px;
  margin: 10px;
}

img {
  max-width: 20vw;
  max-height: 35vh;
  height: auto;
  margin: 0px;
}